body {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 1.2em;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.scene {
  width: 90vw;
  border: 1px solid white;
  height: 80vh;
  position: relative;
  border-radius: 20px;
  transition: all 0.5s ease-out;
}
#flashlight {
  background-color: darkorange;
  position: absolute;
  font-style: italic;
  border-radius: 50%;
  filter: blur(5px);
  width: 40px;
  height: 40px;
  box-shadow: 0 0 90px 50px rgba(255, 165, 0, 0.9);
  pointer-events: none;
  transition:
    top 0.06s linear,
    left 0.06s linear;
  transform: translate(-50%, -50%);
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 0;
}
.items__list {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 50px;
}

.items__list-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  height: 100px;
  background: #000;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    box-shadow 0.5s ease,
    background 0.5s ease,
    transform 0.5s ease;
}

.item__active {
  opacity: 1;
  border: none;
  background: radial-gradient(circle at center, #222 0%, #050505 70%);
  box-shadow:
    0 0 30px 8px rgba(255, 165, 0, 0.9),
    0 0 10px 2px rgba(0, 0, 0, 0.9) inset;
  transform: scale(1.03);
}
.items__list-item > span {
  opacity: 0;
  transform: translateY(6px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.item__active > span {
  opacity: 1;
  transform: translateY(0);
}
